:root {
    --primary-color: #101a26;
    --secondary-color: #fff4ed;
    --accent1-color: #63a5db;
    --accent2-color: #6db835;

    --title-font: "Cal Sans", sans-serif;
    --body-font: "Elms Sans", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

header,
main,
footer {
    width: 840px;
    margin: 0 auto;
}

h1,
h2 {
    font-family: var(--title-font);
    color: var(--accent1-color);
}

nav,
p,
section,
article {
    margin: 16px;
    padding: 8px;
}

.socialmedia a {
    text-decoration: none;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

h1 {
    position: absolute;
    top: 60px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent2-color);
    color: var(--secondary-color);
}

article {

    text-align: left;
    font-size: 14px;
    background-color: var(--accent1-color);
}

.hero article img {
    float: right;
    width: 100px;

}