* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header,
.grid,
footer {
    max-width: 840px;
    margin: 0 auto;
}

nav {
    background-color: #222;
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 700;
}

.grid {
    display: grid;
    align-items: center;
}

main {
    max-width: 840px;
    width: 30rem;
    margin: 1rem;
    border: 1px solid rgb(0 0 0 /0.1);
    padding: 2rem;
    background-color: whitesmoke;
    color: #222;
    text-align: left;
    grid-column: 2/3;

}

h1 {
    color: #222;
    border-bottom: solid #222;
    margin: 2rem;
}

main img {
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 50px #ccc;
    float: right;
    margin: 1rem;
}

p {
    padding: 0;
}

aside {
    max-width: 840px;
    width: 20rem;
    color: #222;
    text-align: center;
    position: relative;
    grid-column: 1/2;
    grid-row: 1/2;

}

aside h2 {
    position: relative;
    top: 40px;
}

aside img {
    width: 200px;
    height: auto;
}

footer {
    margin-top: 1rem;
    border-top: 1px solid #222;
    text-align: center;
}

/* class selectors */
.box {
    margin: 1rem auto;
    border: 1px solid rgb(0 0 0 /0.1);
    padding: 1rem;
    background-color: #ddd;
}